[user]
	# email comes as $EMAIL from /etc/profile.d/email.sh
	name = Holger Schurig
	email = holgerschurig@gmail.com

[alias]
	st = status
	co = checkout
	qi = quiltimport --author 'Holger Schurig <holgerschurig@gmail.de>'
	wu = log --stat origin..@{0}
	wup = log -p origin..@{0}
	p = format-patch -o p
	news = log --reverse --no-merges -p ORIG_HEAD..HEAD
	rlog = log --reverse --no-merges
	glog =  log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
	overview = log --graph --simplify-by-decoration --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
	desc = describe --tags

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = holgerschurig@gmail.com
	thread = no
	smtpserverport = 587
	aliasesfile = ~/.gitaliases
	aliasfiletype = mailrc
	chainreplyto = false
	confirm = auto

[branch]
	sort = committerdate
[color]
	ui = no
[diff]
	algorithm = histogram
	submodule = log
[diff "elisp"]
	xfuncname = "^\\(.*"
[fetch]
	fsckobjects = true
	prune = true
	prunetags = true
[http]
	sslverify = false
[init]
	defaultBranch = main
[merge]
	conflictstyle = zdiff3
[pager]
	branch = false
	tag = false
[push]
	default = current
[rerere]
	enabled = true
[receive]
	fsckobjects = true
[status]
	submoduleSummary = true
[tag]
	sort = taggerdate
[transfer]
	fsckobjects = true
[url "git@github.com:"]
	pushInsteadOf = "https://github.com/"
